<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UAG Documentation</title>
    <link rel="shortcut icon" href="/assets/yeet21.png" type="image/x-icon" />
    <style>
      @import url("https://mshaugh.github.io/nerdfont-webfonts/build/firacode-nerd-font.css");

      html {
        font-family: "FiraCode Nerd Font";
        text-rendering: optimizeLegibility;
        font-variant-ligatures: normal;
        text-align: justify;
      }

      body {
        margin: 0 auto;
        padding: 1rem;
        max-width: 512px;
      }
    </style>
  </head>
  <body>
    {{ content }}
  </body>
  <script type="module">
    import DarkReader from "https://cdn.skypack.dev/darkreader";

    document.addEventListener("DOMContentLoaded", () => {
      DarkReader.setFetchMethod(window.fetch);

      DarkReader.auto();
    });

    window.toggleDarkMode = () => {
      if (DarkReader.isEnabled()) {
        DarkReader.disable();
      } else {
        DarkReader.enable();
      }
    };
  </script>
</html>
