<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UAG Documentation</title>
    <link rel="shortcut icon" href="/assets/yeet21.png" type="image/x-icon" />
    <style>
      @import url("https://mshaugh.github.io/nerdfont-webfonts/build/firacode-nerd-font.css");

      html {
        font-family: "FiraCode Nerd Font";
        text-rendering: optimizeLegibility;
        font-variant-ligatures: normal;
        font-size: 14px;
        text-align: justify;
      }

      body {
        margin: 0;
        padding: 1rem;
        max-width: 512px;
      }

      h1:first-child,
      p:first-child {
        margin-top: 0;
      }
    </style>
  </head>
  <body>
    {{ content }}
  </body>
</html>
